.navbrand {
  color: tomato;
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbrand:hover {
  color: #fed136;
}

.nav-toggle {
  background-color: tomato;
}

.inactive {
  color: #fff;
}

.inactive:hover {
  color: #fed136;
}

.active {
  color: #fed136;
}

.active:hover {
  color: #fed136;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardImg {
  height: 100vh;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.cardText1 {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
}

.cardText2 {
  font-size: 3.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.cardBtn {
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #233;
  color: tomato;
}

.cardBtn:hover {
  color: #fed136;
}

.service-heading {
  margin: 1rem auto;
  font-size: 1.5rem;
}

#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 99, 71, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.25s;
  transition: opacity ease-in-out 0.25s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: white;
}

.timeline-image {
  width: 10rem;
  height: 10rem;
  padding: auto 1rem;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline-image h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.fatime {
  color: #fff;
  background-color: #343a40;
  border-radius: 50%;
}

.about-list {
  margin: 1rem auto;
}

@media screen and (max-width: 480px) {
  .timeline-image {
    width: 6rem;
    height: 6rem;
  }
  .timeline-image h4 {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1rem;
  }
}

.team-img {
  height: 14rem;
  width: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.form-input {
  margin-bottom: 1.38rem;
}

.contact-form-bg {
  background-color: #212529;
  background-image: url("/images/world.png");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-form {
  padding: 1rem;
}

.contact-heading {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.contact-button {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #233;
  color: tomato;
}

.contact-button:hover {
  color: #fed136;
}

.footer {
  padding-top: 1rem;
  text-align: center;
}

.fafooter {
  color: #fff;
  background-color: #343a40;
  border-radius: 50%;
}

.page-section {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #fffff7;
}

.section-heading {
  font-size: 2.5rem;
  margin: 0 auto 1rem auto;
}

.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

@media screen and (max-width: 480px) {
  .cardImg {
    height: 80vh;
  }
}
/*# sourceMappingURL=style.css.map */