@import "./navbar";
@import "./welcome";
@import "./services";
@import "./footer";
@import "./portfolio";

.page-section {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #fffff7;
}

.section-heading {
  font-size: 2.5rem;
  margin: 0 auto 1rem auto;
}

.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

@media screen and (max-width: 480px) {
  .cardImg {
    height: 80vh;
  }
}
